**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/output
**/*.jpg
**/priors
evaluation/dinoscore/grounded_segment


# custom_diffusion
custom_diffusion*/__pycache__
custom_diffusion*/packages/**/__pycacahe__
custom_diffusion*/dog
custom_diffusion*/fonts
custom_diffusion*/saved_models
custom_diffusion*/disenbooth_models
custom_diffusion*/logs*
custom_diffusion*/results*
custom_diffusion/results/*
custom_diffusion*/priors
custom_diffusion*/*.jpg
custom_diffusion*/*.png
custom_diffusion*/wandb
custom_diffusion*/output
custom_diffusion*/priors

# dreambooth
DisenBooth*/saved_models
DisenBooth*/__pycache__
DisenBooth*/packages/**/__pycacahe__
DisenBooth*/dog
DisenBooth*/fonts
DisenBooth*/samples
DisenBooth*/saved_models
DisenBooth*/disenbooth_models
DisenBooth*/logs*
DisenBooth*/results*
DisenBooth*/priors
DisenBooth*/*.jpg
DisenBooth*/*.png
DisenBooth*/wandb
DisenBooth*/output

# textual_inversion
textual_inversion*/saved_models
textual_inversion*/__pycache__
textual_inversion*/packages/**/__pycacahe__
textual_inversion*/dog
textual_inversion*/fonts
textual_inversion*/samples
textual_inversion*/saved_models
textual_inversion*/logs*
textual_inversion*/results*
textual_inversion*/priors
textual_inversion*/*.jpg
textual_inversion*/*.png
textual_inversion*/tools
textual_inversion*/wandb

# pplus
pplus*/saved_models
pplus*/__pycache__
pplus*/packages/**/__pycacahe__
pplus*/dog
pplus*/fonts
pplus*/samples
pplus*/saved_models
pplus*/logs*
pplus*/results*
pplus*/priors
pplus*/*.jpg
pplus*/*.png
pplus*/wandb



# mlm
mlm*/saved_models
mlm*/__pycache__
mlm*/packages/**/__pycacahe__
mlm*/dog
mlm*/fonts
mlm*/samples
mlm*/saved_models
mlm*/logs*
mlm*/results*
mlm*/priors
mlm*/*.jpg
mlm*/*.png
mlm*/wandb